.paginator {
  max-width: 100%;
  margin: 2vh 0;

  .paginatorContainer {
    max-width: 60vw;
    display: flex;
    align-items: center;

    .pageContainer {
      display: flex;
      flex-wrap: nowrap;

      .paginatorBtn {
        width: 3vw;
        background-color: transparent;
        border: none;
      }

      .paginatorBtn:hover {
        background-color: lightblue;
        color: black;
        font-weight: 700;
      }

      .pageNumbersBlock {
        display: flex;
        flex-wrap: nowrap;
        margin: 0 1px;
      }

      .pageNumber {
        min-width: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.1vw;
        cursor: pointer;
        padding: 1vw;
        border: 1px solid grey;
        border-radius: 50%;
        color: #21268F;
      }

      .pageNumber.selectedPage {
        font-weight: bold;
        border-color: lightblue;
        color: lightblue;
      }

      .pageNumber:hover {
        background-color: lightblue;
        color: #21268F;
      }
    }
    .wrapper {
      display: flex;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: rgb(53, 62, 14);

      .selectWrapper {
        margin-left: 34px;
        width: 27%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 180px;
      }

      select {
        background: #FFFFFF;
        border: 1px solid #EFF6D5;
        width: 45px;
        height: 24px;

        &:focus {
          outline: none;
        }
      }
    }
  }
}