.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.35;
  z-index: 20;
}
.modalMessage {
  position: fixed;
  z-index: 21;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  box-sizing: border-box;
  background: #fbfef9;
  border-radius: 9px;
  opacity: 1;
  .cancelBtn{
    position: absolute;
    right: 10px;
    top:10px;

    &:active{
      background-color: red;
    }

  }
  .inputWrap{
  }
}
h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #2D2E46;
}