@import "../../common/styles/mixins";
@import "../../common/styles/variables";

.profileContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  //display: flex;
  //align-items: flex-start;
  //justify-content: center;
  //min-height: 98vh;
  //color: $darkTextColor;

  .profileBlock {
    margin-top: 2rem;
    //max-width: 1008px;
    min-height: 80vh;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr;

    //.profileSidebar {
    //  max-width: 600px;
    //  width: 100%;
    //  min-height: 636px;
    //  display: flex;
    //  flex-direction: column;
    //  align-items: center;
    //  border-radius: 8px;
    //  background: #ECECF9;
    //  //background-color: #ECECF9;
    //  //max-width: 1008px;
    //}

    .profileInfo {
      width: 100%;
      height: 216px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      background-color: #ECECF9;
      border-radius: 8px 0 8px 8px;
      padding: 24px 0 16px;


      img {
        height: 96px;
        width: 96px;
        border-radius: 50%;
      }

      .verify {
        color: green;
        font-size: 20px;
      }

      .title {
        margin-bottom: 20px;
        margin-top: 10px;
        font-weight: 600;
        font-size: 26px;
        line-height: 30px;

      }

      &img {
        margin: 0 auto;
        display: block;
        width: 230px;
        height: 230px;
        object-fit: cover;
      }

      .userName {
        font-size: 20px;
      }
    }

    .cardsFilter {
      height: 420px;
      width: 100%;
      background: #ECECF9;
      border-radius: 0 0 0 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}