@import "../../../../common/styles/variables";

.navLinkItems {
  grid-area: nav;
  display: grid;
  background-color: $backgroundColor;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin-bottom: 30px;

  .item {
    font-size: 26px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &:hover {
      opacity: 0.5;
      background: $backgroundColor;
      border: 1px solid azure;
    }

    a {
      color: azure;
      text-decoration: none;
    }

    a.active {
      color: goldenrod;
    }
  }
}

@media (max-width: 1024px) {
  .navLinkItems {
    grid-template-columns: auto;
  }
}

/* .item:hover > *:hover {
    transform: scale(1.1);
    opacity: 1;
} */

